.search-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    outline: none;
    height: 70%;
    width: 25%;
    font-size: 150%;
    padding-left: 1%;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

input:hover{
    border-color: white;
}

input:focus{
    border-color: white;
}

::placeholder{
    color: white;
    opacity: 0.5;
}