.App{
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0 0 0 2000px rgba(20, 20, 20, 0.4);
    background-size: cover;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.main{
    margin-top: 5%;
    height: 30%;
}

.future{
    margin-top: 2%;
    height: 45vh;
    background-color: rgba(0, 0, 0, 0.400);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 425px) {
    .App{
        height: 100vh;
        width: 100vw;
        box-shadow: inset 0 0 0 2000px rgba(20, 20, 20, 0.4);
        background-size: cover;
    }
    .header{
        padding-top: 15%;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
    }
    
    .main{
        margin-top: 20%;
        height: 30%;
    }
    
    .future{
        margin-top: 0%;
        height: 20%;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .App{
        height: 100vh;
        width: 100vw;
        box-shadow: inset 0 0 0 2000px rgba(20, 20, 20, 0.4);
        background-size: cover;
        overflow-x: hidden;
    }
    .header{
        padding-top: 15%;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
    }
    
    .main{
        margin-top: 5%;
        height: 30%;
    }
    
    .future{
        margin-top: 5%;
        height: 20%;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .header{
        padding-top: 5%;
    }
    .main{
        margin-top: 0%;
    }
}

